<!--
  ~ Copyright (c) 2017.
  ~
  ~ This file belongs to the Leynos project, an open-source project distributed
  ~ under the GPL license. This license is included as part of the project and
  ~ is also available at the following web page:
  ~
  ~ http://www.gnu.org/licenses/gpl.html
  -->
<phpunit
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
   colors="true"
   bootstrap="tests/bootstrap.php"
   convertDeprecationsToExceptions="true"
   convertErrorsToExceptions="true"
   convertNoticesToExceptions="true"
   convertWarningsToExceptions="true"
   backupGlobals="true">
   <testsuites>
      <testsuite name="leynos">
         <directory>tests</directory>
         <exclude>tests/bootstrap.php</exclude>
         <exclude>tests/mocks</exclude>
      </testsuite>
   </testsuites>
</phpunit>
<!-- vim: set ts=3 sw=3 tw=0 et :-->
